* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #1cb5e0, #000046);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 95%;
  margin: 0 auto 0 auto;
  gap: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.raffle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.result-title {
  color: #fff;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 2px;
}

#result {
  color: #ff3434;
  text-shadow: 1px 0px 1px black;
  letter-spacing: 2px;
}

.list-container {
  background-color: #008b8b;
  color: white;
  text-shadow: 1px 0px 1px black;
  font-size: 2rem;

  width: 100%;
  height: 16rem;
  margin-top: 1rem;
  border: 2px solid #8fbc8f;

  overflow-y: scroll;
}

.img-container {
  width: 45rem;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
}

.options {
  margin-top: 1rem;
  gap: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.options input {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  font-weight: 500;

  width: 10rem;
  padding: 10px;
  border-radius: 10px;
}

.options button {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  border: none;
  font-weight: 500;

  border-radius: 10px;
  padding: 0 5px 0 5px;
}

.options button:hover {
  cursor: pointer;
  background-color: #bbbbbb;
}

li {
  list-style: inside;
  list-style-type: circle;
  word-break: break-all;

  margin-left: 10px;
  padding-left: 10px;
}

li:hover {
  background-color: rgb(204, 204, 204, 0.5);
  border-radius: 10px;
}

.x {
  background-color: transparent;
  border: none;
  color: red;
  text-shadow: 0px 0px 1px black;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2rem;
}

.x:hover {
  cursor: pointer;
}

@media screen and (max-width: 1240px) {
  .img-container {
    width: 35rem;
  }
}
